@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* body {
  margin-right: 200px;
} */
.container {
  width: 82%;
  max-width: 1320px;
  padding: 5px 20px 5px 23px;
  justify-content: center;
}

.banner {
  background-image: url(/Assignment_1/resources/a.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  width: 1320px;
  height: 600px;
}

.banner-text {
  text-align: center;
  color: #ffffff;
  padding: 15%;
  /* border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-position: bottom 20%; */
}

.banner-text h2 {
  text-align: center;
  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.banner-text h1 {
  text-align: center;
  font-family: Merriweather;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: 131.944%;
}

.offer {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
}

.offer p:nth-child(2) {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 5%;
  padding-bottom: 1%;
}

.offer p:nth-child(3) {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 3%;
}

.midnight {
  background-image: url(/Assignment_1/resources/v.png);
  background-position: center center;

  background-size: 83%;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 5%;
  padding-left: 2%;
  /* justify-content: space-around; */
  /* margin: 10%; */
}

.midnight-text {
  padding: 8% 0 0 15%;
  text-align: left;
  color: #2abdbd;
  /* background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
}

.midnight h1 {
  font-family: Merriweather;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  /* 137.5% */
  letter-spacing: 7.04px;
  width: 642px;
}

.midnight p {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 166.667% */
  width: 550px;
}

.image-mid {
  width: 85%;
}

.midnight-img {
  padding: 75px 15% 0 0;
}

.midnight-text button {
  background-color: rgba(194, 22, 65, 0.452);
  padding: 20px 20px;
  border: none;
  border-radius: 90px;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  cursor: default;
}

.midnight-text button:hover {
  background-color: #000000a1;
  color: #ff0000;
  cursor: pointer;
  transition-delay: 2s ease;
  transition: background-color 1s ease;
}

.join-butt {
  padding: 5% 0 0 5%;
}

.event {
  color: #070211;
  font-family: Inter;
  padding-top: 8%;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 20px;
  width: 100%;
  height: 482px;
  flex-shrink: 0;
  justify-content: center;
  margin-left: 9%;
  margin-right: 25%;
}

.event .important {
  color: #f00;
}

.join-button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.event-button {
  /* justify-content: center; */
  padding: 5% 0 0 0;
}

.new-offer {
  display: flex;
  justify-content: space-between;
  width: 80%;

  margin-left: 13%;
  padding-top: 5%;
}

.new-offer-head * {
  padding-bottom: 2%;
}

.new-offer-head h2 {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 15%;
}

.new-offer-head h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.new-offer-head p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  width: 300px;
}

.new-offer-image {
  width: 364.844px;
  height: 364.844px;
  flex-shrink: 0;
  padding-left: 30px;
}

.x {
  width: 80%;
  border-radius: 463px;
  border: 12px solid #f00;
  padding: 5%;
}

.new-offer-text {
  padding-left: 10%;
}

.new-offer-text h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 5%;
  padding-top: 15%;
}

.new-offer-text p {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 10%;
}

.holiday-text {
  text-align: center;
  padding-top: 10%;
  /* justify-content: center; */
}

.holiday-text h2 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.holiday-text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.holiday-text .important {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.holiday-text .para {
  /* width: 968px; */
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
  text-align: center;
  padding: 2% 20%;
}

.saleee {
  padding-top: 5%;
  display: flex;
  background-image: url(/Assignment_1/resources/n.png);
  background-repeat: no-repeat;

  background-position: 5% 100%;
  border: none;
  border-radius: 16px 0px 16px 16px;

  flex-shrink: 0;
  margin: 0 0 0 10%;
}

.saler {
  background-image: url(/Assignment_1/resources/m.png);
  background-repeat: no-repeat;
  /* width: 429px; */
  height: 433px;
  background-position: right;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.floor {
  width: 50%;
}

.f-image {
  width: 95%;
  padding: 28% 5% 0 15%;
}

.fifty {
  width: 20%;
  padding-bottom: 3%;
}
.gift * {
  padding-bottom: 1%;
}
.gift-text {
  text-align: left;
  margin: 23% 10% 0 10%;
}
.gift-text h2 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.gift-text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.gift-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 896px;
}
.pic {
  width: 31%;
  flex-shrink: 0;
  padding: 11px;
  /* position: relative; */
}
.gift-pic1 {
  margin: 2% 9.5% 0 9.5%;
}

.mail {
  color: #070211;
  font-family: Inter;
  padding-top: 8%;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 98%;
  height: 482px;
  flex-shrink: 0;
  justify-content: center;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 9%;
}
.mail-text * {
  padding-bottom: 3%;
}
.mail-text h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.mail-text p {
  width: 100%;
  /* margin: 0 15% 0 25%; */
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.subs-button #email {
  width: 70%;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px 0 0 50px;
  background: #fff;
  border: none;
  align-content: start;
  padding: 0 15.6% 0 20px;

  /* position: absolute; */
}
.subs-button {
  width: 70%;
  border-radius: 50px 50px 50px 50px;
  background: #f00;
  border: none;
  padding: 0;
  margin-left: 20px;
}
.red {
  padding: 0 20px;
  color: #030303;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.mail-subs button:hover {
  background-color: #3cff00;
  color: #000000;
  cursor: pointer;
  transition-delay: 2s ease;
  transition: background-color 1s ease;
}
.subs-button input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  /* text-align: center; */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  background: #070211;
  width: 100%;
  /* height: 609px; */
  flex-shrink: 0;
}
.footer-text {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  /* padding-bottom: 5%; */
}
.location {
  padding-top: 9px;
}
.cont {
  padding: 15px 9px 0 0;
}
.social {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 3%;
  margin: 5%;
  border-left: none;
  border-right: none;
}
.simg {
  padding: 10px;
}
.regulations {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}
